<div class="col-xs-12 single-result">
  <a href="{{link}}">
    <div class="tag col-xs-12">
      <p>
        <span class="bookname">{{shortname}}</span>
        <span class="chaptername">{{chapter}}</span>  
        <span class="verse-number">{{number}}</span>
      </p>
    </div>
    <p class="col-xs-offset-2 col-xs-9">
      {{content}}
    </p>
  </a>
</div>